/*#ID-NAME to change a specific thingy from html documnet*/

* {
    font-family: "Times New Roman", "Arial";
}

html{
    background-color: rgb(0, 89, 255);
}

p {
    font-size: 30px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.button {
    background-color:rgb(0, 3, 207);
    width: 100%;
    font-size: 50px;
}

#title {
    color: white;
    text-align: center;
    font-size:100px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.myflexboxRow {
    display: flex;
    flex-wrap:nowrap;
    background-color:green;
    width: 90%;
    margin: auto;
}

.myflexboxColumn {
    flex: auto;
    text-align: center;
    border-style: solid;
    border-color:black;
}

#column1 {
    background: rgb(0, 3, 207);
}

#teamName {
    display: flex;
    flex-wrap: wrap;
}

.myflexboxRowTeam {
    display: flex;
    flex-wrap:nowrap;
    width: 90%;
    margin: auto;
}

.myflexboxColumnTeam {
    flex: auto;
    text-align: center;
    border-style: solid;
    border-color:black;
    background-color:deepskyblue;
}

#teamPoints {
    text-wrap:pretty;
    width:16%;
}

#b11, #b21, #b31, #b41, #b51, #b61 {
    text-wrap:pretty;
    width:16%;
    color: white;
    font-weight: bold;
}

#home {
    display: none;
    text-align: center;
    color:white;
    margin:auto;
    width:90%;
}

#questionNum {
    font-size:80px;
    text-align: center;
    color:white;
}

#question {
    margin:auto;
    margin-bottom:25px;
    font-size:50px;
    text-align: center;
    width: 80%;
    color:white;
}

#team1Button, #team2Button, #team3Button, #nooneButton {
    background-color: deepskyblue;
}

#button11 ,#button12 ,#button13 ,#button14 ,#button15 ,#button16 ,#button21 ,#button22 ,#button23 ,#button24 ,#button25 ,#button26 ,#button31 ,#button32 ,#button33 ,#button34 ,#button35 ,#button36 ,#button41 ,#button42 ,#button43 ,#button44 ,#button45 ,#button46 ,#button51 ,#button52 ,#button53 ,#button54 ,#button55 ,#button56 ,#button61 ,#button62 ,#button63 ,#button64 ,#button65 ,#button66 {
    color: rgb(172, 117, 0);
    font-weight:bold;
}

#answer {
    color: white;
    width: 90%;
    margin: auto;
}